* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-body;
  color: $text-color;
  background-color: #fff;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
}

a {
  text-decoration: none;
  color: inherit;
}
