// Mixin pour les boutons de couleur avec dégradé
@mixin button-style($bg-color-start, $bg-color-end) {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  background: linear-gradient(to top, $bg-color-start, $bg-color-end);
  color: #fff;
  font-weight: 400;
  transition: background 0.3s ease;
  box-shadow: $shadow-medium;

  &:hover {
    background: linear-gradient(
      to top,
      lighten($bg-color-start, 5%),
      lighten($bg-color-end, 5%)
    );
  }
}

// Mixin pour le style des boutons gris
@mixin button-gray-style(
  $bg-color,
  $text-color,
  $padding: 25px 40px,
  $border-radius: 20px
) {
  display: flex;
  align-items: center;
  padding: $padding;
  background-color: $bg-color;
  border: none;
  border-radius: $border-radius;
  font-size: 16px;
  font-weight: 400;
  color: $text-color;
  cursor: pointer;
  width: 100%;
  text-align: left;
  transition: background-color 0.3s ease;
  box-shadow: $shadow-medium;

  &:hover {
    background-color: lighten($bg-color, 10%);
  }
}

// Mixin pour les cards restaurants
@mixin restaurant-card-style(
  $card-radius: 15px,
  $shadow: $shadow-light,
  $hover-shadow: $shadow-medium,
  $hover-translate: -5px,
  $image-height: 150px
) {
  background-color: #fff;
  border-radius: $card-radius;
  box-shadow: $shadow;
  overflow: hidden;
  display: flex;
  flex-direction: column; /* S'assure que l'image et le contenu sont empilés verticalement */
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY($hover-translate);
    box-shadow: $hover-shadow;
  }

  &__image {
    //flex: 2; /* Prend 2/3 de l'espace disponible */
    width: 100%;
    max-height: $image-height; /* Limite la hauteur maximale de l'image */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .card-image {
      /* Sélecteur spécifique pour l'image de la carte */
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .new-tag {
      position: absolute;
      top: 10px; /* Décalage du bord supérieur */
      right: 10px; /* Décalage du bord droit */
      padding: 5px 10px;
      background-color: #99e2d0;
      color: #018666;
      font-size: 12px;
      font-weight: 400;
      border-radius: 2px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre légère pour le texte */
    }
  }

  &__details {
    //flex: 1; /* Prend 1/3 de l'espace disponible */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #fff;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-weight: 700;
    font-size: 16px;
    color: $text-color;
  }

  &__location {
    font-weight: 300;
    font-size: 14px;
    color: $text-color;
  }
}

// Mixin pour l'animation des icônes favori
@mixin icon-favorite-animation($duration: 300ms) {
  position: relative;

  .favorite-empty {
    display: block;
    opacity: 1;
    object-fit: contain;
    width: 100%;
    height: 100%;
    transition: opacity $duration ease;
  }

  .favorite-full {
    display: block;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
    width: 100%;
    height: 100%;
    transition: opacity $duration ease;
  }

  // Au survol, on affiche l'image du cœur plein
  &:hover {
    .favorite-empty {
      opacity: 0;
    }

    .favorite-full {
      opacity: 1;
    }
  }
}
