$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$light-gray: #f0f0f0;
$text-color: #333;

$font-title: "Roboto", sans-serif;
$font-body: "Roboto", sans-serif;
$font-restaurant-title: "Shrikhand", cursive; // Pour certains titres
