$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$light-gray: #f0f0f0;
$text-color: #333;

$font-title: "Roboto", sans-serif;
$font-body: "Roboto", sans-serif;
$font-restaurant-title: "Shrikhand", cursive; // Pour certains titres

$shadow-light: 0px 2px 4px rgba(0, 0, 0, 0.1);
$shadow-medium: 0px 4px 8px rgba(0, 0, 0, 0.3);
$shadow-mediumplus: 0px 4px 8px rgba(0, 0, 0, 0.5);
$shadow-heavy: 0px 4px 12px rgba(0, 0, 0, 0.3);
