@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333;
  background-color: #fff;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
}
.header__logo {
  text-align: center;
}
.header__logo img {
  width: 150px;
  margin-top: 10px;
}

.announcement-bar {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 9;
}
.announcement-bar i {
  color: #333;
  margin-right: 8px;
}
.announcement-bar p {
  display: inline;
  font-size: 14px;
  color: #333;
}

.reservation-section {
  padding: 50px;
  text-align: center;
  background-color: whitesmoke;
}
.reservation-section h1 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 600;
  color: black;
}
.reservation-section p {
  margin-bottom: 20px;
  font-size: 16px;
  color: #333;
  font-weight: 300;
}
.reservation-section .btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  background: linear-gradient(to top, #9356dc, #ff79da);
  color: #fff;
  font-weight: 400;
  transition: background 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.reservation-section .btn:hover {
  background: linear-gradient(to top, #a16be0, #ff93e1);
}

.steps-section {
  padding: 40px 20px;
}
.steps-section h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  text-align: left;
  margin-bottom: 20px;
}
.steps-section .steps {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.steps-section .steps .step {
  position: relative;
}
.steps-section .steps .step .step-number {
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translate(25%, -50%); /* Centrage vertical et léger ajustement horizontal */
  width: 20px; /* Taille du rond */
  height: 20px;
  border-radius: 50%;
  background-color: #9356dc;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px; /* Taille du texte dans le rond */
}
.steps-section .steps .step .btn-step {
  display: flex;
  align-items: center;
  padding: 25px 40px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  cursor: pointer;
  width: 100%;
  text-align: left;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.steps-section .steps .step .btn-step:hover {
  background-color: white;
}
.steps-section .steps .step .btn-step i {
  margin-right: 25px;
}
.steps-section .steps .step .btn-step .icon-primarycolor {
  color: #9356dc;
}
.steps-section .steps .step .btn-step:hover {
  background-color: white;
}

.restaurants-section {
  padding: 40px 20px;
  background-color: #f0f0f0;
}
.restaurants-section__title {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  text-align: left;
  margin-bottom: 30px;
  color: #333;
}
.restaurants-section__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adaptation responsive */
  gap: 20px;
}
.restaurants-section .restaurant-card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column; /* S'assure que l'image et le contenu sont empilés verticalement */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* Utilisation de la mixin */
}
.restaurants-section .restaurant-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.restaurants-section .restaurant-card__image {
  width: 100%;
  max-height: 150px; /* Limite la hauteur maximale de l'image */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.restaurants-section .restaurant-card__image .card-image {
  /* Sélecteur spécifique pour l'image de la carte */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.restaurants-section .restaurant-card__image .new-tag {
  position: absolute;
  top: 10px; /* Décalage du bord supérieur */
  right: 10px; /* Décalage du bord droit */
  padding: 5px 10px;
  background-color: #99e2d0;
  color: #018666;
  font-size: 12px;
  font-weight: 400;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre légère pour le texte */
}
.restaurants-section .restaurant-card__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #fff;
}
.restaurants-section .restaurant-card__info {
  display: flex;
  flex-direction: column;
}
.restaurants-section .restaurant-card__name {
  font-weight: 700;
  font-size: 16px;
  color: #333;
}
.restaurants-section .restaurant-card__location {
  font-weight: 300;
  font-size: 14px;
  color: #333;
}
.restaurants-section .restaurant-card__favorite {
  font-size: 18px;
  cursor: pointer;
  color: black; /* Contour noir par défaut */
  transition: transform 0.3s ease, color 0.3s ease, font-weight 0.3s ease; /* Transition pour le zoom, couleur et poids */
  /* Icône pleine au survol */
}
.restaurants-section .restaurant-card__favorite:hover {
  color: #9356dc; /* Changer la couleur en remplissage */
  font-weight: 900; /* Icône pleine en augmentant le poids de la police */
  transform: scale(1.1); /* Animation de zoom */
}

/*# sourceMappingURL=style.css.map */
