.restaurants-section {
  padding: 40px 20px;
  background-color: $light-gray;

  &__title {
    font-family: $font-title;
    font-size: 28px;
    text-align: left;
    margin-bottom: 30px;
    color: $text-color;
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .restaurant-card {
    @include restaurant-card-style(
      15px,
      $shadow-light,
      $shadow-medium,
      -5px
    ); // Mixin card

    &__favorite {
      width: 22px;
      height: 22px;
      @include icon-favorite-animation;
    }
  }
  @media (min-width: 1024px) {
    padding: 40px 180px;

    &__cards {
      grid-template-columns: repeat(2, 1fr);
      gap: 50px 100px;
    }
  }
}
